<template name='ingredient_list'>

  <div class="animated fadeIn faster ui middle aligned selection divided list ">
    {{#each ingredients}}
    <div class="item">
      <div class="right floated content">
        <div id={{_id}} class="ui button deleteIngredient">delete</div>
      </div>
      <div id={{_id}} class="content ingredient-list">
        <a id={{_id}} class="header ingredient">{{name}}</a>
         <div class="content">
        <div class="description">Lorem ipsum</div>    
      </div>
      </div>
    </div>
    {{/each}}
  </div>


</template>