<template name="ingredient_form">

<form class="animated fadeIn faster ui form" style="margin-top: 1.5em;">
	<div class="field">
	<h3>Add New Ingredient</h3>
		<div class="two fields">
		  <div class="field">
		  	<label for="ingredientName">Name</label>
		    <input name="ingredientName" type="text" id='ingredientName' placeholder="Ingredient Name">
		  </div>
		</div>
	</div>
	<div class="field">
		<div class="two fields">
			 <div class="field">
		  	<label for="kcal">Calories</label>
		    <input name='kcal' type="number" id='kcal' placeholder="kCal">
		  </div>
		  <div class="field">
		  	<label for="gramsProtein">Protein</label>
		    <input name='protein' type="number" id='gramsProtein' placeholder="Protein">
		  </div>
		</div>
		<div class="two fields">
		  <div class="field">
		  	<label for="gramsFat">Fat</label>
		  	<input name='fat' type="number" id='gramsFat' placeholder="Fat">
		  </div>
	  	<div class="field">
	  		<label for="gramsCarbohydrates">Carbohydrates</label>
				<input name='carbohydrates' type="number" id='gramsCarbohydrates' placeholder="Carbohydrates">
	  	</div>
		</div>
	</div>
	<div class="field">

		<div class="two fields">
		  <div class="field">
		  	<label for="units">Units</label>
				<input name='units' type="number" id='units' placeholder='Units'>
		  </div>
		  <div class="field">
		  	<label for="unitType">Unit Type</label>
				<div class="ui selection dropdown">
			  	<input type="hidden" id="unitType" name="unitType">
			  	<i class="dropdown icon"></i>
			  	<div class="default text">Grams</div>
			  	<div class="menu">
			      <div class="item">Ounces</div>
			      <div class="item">Grams</div>
			      <div class="item">Milliliter</div>
			  	</div>
				</div>
			</div>
	  </div>
	</div>
  <button id='submitFormBtn' class="ui button" type="submit">Submit</button>
</form>
<br/>

</template>
